.aboutMe {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;

    .flexContainer {
        display: flex;
        flex-wrap: wrap;
    }

    .flexContainer2 {
        margin-top: 4.5rem;
        display: flex;
        justify-content: space-between;
    }

    &__mobileImg {
        display: none;
    }

    &__text {
        width: calc(100% / 3 * 2);
        padding-right: 20px;
        border-right: 2px solid $black;

        p:not(:last-of-type) {
            margin-bottom: 10px;
        }
    }

    blockquote {
        width: calc(100% / 3);
        padding-left: 20px;
        font-weight: 600;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

@media (max-width: 875px) {
    .aboutMe {
        &__text {
            width: 75%;
        }

        blockquote {
            width: 25%;
        }
    }
}

@media (max-width: 475px) {
    .aboutMe {
        .flexContainer {
            justify-content: center;
        }

        &__mobileImg {
            display: block;
            width: 50%;
            min-width: 200px;
            margin-bottom: 10px;
        }

        &__text {
            width: 100%;
            border-right: none;

            span {
                background: $black;
                color: $white;
            }
        }

        blockquote {
            display: none;
        }
    }
}

@media (max-width: 430px) {
    .aboutMe {
        .flexContainer2 {
            margin-top: 2rem;
        }
    }
}