footer {
    section {
        @include flexCenter;
        flex-direction: column;
        border: 15px solid $black;
        border-bottom: none;
        min-height: 15vh;
    }

    ul {
        display: flex;
        font-size: 4rem;
        padding-bottom: 1rem;

        li:not(:last-of-type) {
            margin-right: 25px;
        }
    }
}

@media (max-width: 520px) {
    footer {
        section {
            border: 10px solid $black;
            border-bottom: none;
        }
    }
}

@media (max-width: 400px) {
    footer {
        ul {
            font-size: 3rem;
        }

        a:hover,
        a:focus {
            color: $gray;
        }
    }
}