*,
*::before,
*::after {
    padding: 0;
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
}

ul {
    list-style: none;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.8rem;
    font-family: $bodyFont;
    background: $white;
    color: $black;
}

.outerWrapper {
    max-width: 1400px;
    width: 95%;
    margin: 0 auto;
}

.innerWrapper {
    max-width: calc(1400px / 2);
    width: 50%;
    margin: 0 auto;
}

section {
    margin: 150px 0;
}

button {
    border: none;
    border-bottom: 2px solid $black;
    background-color: $white;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 600;
    padding-bottom: 5px;

    i {
        padding-left: 7px;
    }
}