*,
*::before,
*::after {
    padding: 0;
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: $black;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth
}

body {
    font-size: 1.8rem;
    font-family: $bodyFont;
    background: $white;
    color: $black;
}

@media (max-width: 430px) {
    body {
        font-size: 1.6rem;
    }
}

.outerWrapper {
    max-width: 1440px;
    width: 95%;
    margin: 0 auto;
}

.innerWrapper {
    width: 65%;
    margin: 0 auto;
}

@media (max-width: 875px) {
    .innerWrapper {
        width: 70%;
    }
}

@media (max-width: 680px) {
    .innerWrapper {
        width: 80%;
    }
}

@media (max-width: 590px) {
    .innerWrapper {
        width: 100%;
    }
}

@media (max-width: 430px) {
    .innerWrapper {
        width: 90%;
    }
}

button:not(.hamburger),
.likeAButton {
    border: none;
    border-bottom: 2px solid $black;
    background-color: transparent;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 600;
    padding-bottom: 5px;
    transition: all .5s;

    i {
        padding-left: 7px;
    }

    &:hover i,
    &:focus i {
        animation: 2s ease-in .2s infinite activeState;
    }
}

.skipLink {
    position: absolute;
    left: -1000px;
    top: 5px;
    z-index: 999;
    background: white;
    color: black;

    &:focus {
        left: 0;
    }
}

@keyframes activeState {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}