header {
    height: 95vh;
    margin-bottom: 5vh;
    display: flex;
    position: relative;

    .header__imgContainer {
        align-self: flex-end;
        margin-left: 12rem;
        @include mq('desktop', max) {
            margin-left: 7rem;
        }
        margin-bottom: 6.5rem;
        filter: saturate(65%);
        width: 500px;
    }

    .header__contentContainer {
        border: 15px solid $black;
        width: 50%;
        border-top: none;
        position: absolute;
        height: 100%;
        left: calc(500px + 3.5rem);
        @include mq('desktop', max) {
            left: 500px;
        }
        display: flex;
        align-items: flex-end;
    }

    .textContainer {
        height: 500px;
        margin-bottom: 5rem;
        padding-left: 12rem;
        padding-right: 10rem;
        @include mq('desktop', max) {
            padding-left: 9rem;
            padding-right: 7rem;
        }

        span {
            display: block;
        }

        button:not(:first-of-type) {
            margin-left: 3rem;
        }
    }
}

.hamburger {
    position: fixed;
    right: 0;
    top: 0;
}

@media (max-width: 1180px) {
    header {
        .header__imgContainer {
            width: 450px;
        }

        .header__contentContainer {
            left: 450px;
        }

        .textContainer {
            height: 450px;
        }
    }
}

@media (max-width: 1050px) {
    header {
        .header__imgContainer {
            width: 425px;
        }

        .header__contentContainer {
            left: 425px;
        }

        .textContainer {
            height: 425px;
        }
    }
}

@media (max-width: 768px) {
    header {
        .header__imgContainer {
            margin-left: 3rem;
            width: 400px;
        }

        .header__contentContainer {
            left: 275px;
            width: 55%;
        }

        .textContainer {
            height: 400px;
            padding-left: 4rem;
            padding-right: 4rem;
            text-align: right;
        }
    }
}