header {
    height: 95vh;
    margin-bottom: 5vh;
    display: flex;
    position: relative;

    .header__imgContainer {
        align-self: flex-end;
        margin-left: 12rem;
        margin-bottom: 6.5rem;
        filter: saturate(65%);
        width: 500px;
    }

    .header__contentContainer {
        border: 15px solid $black;
        width: 50%;
        border-top: none;
        position: absolute;
        height: 100%;
        left: calc(500px + 3.5rem);
        display: flex;
        align-items: flex-end;
    }

    .textContainer {
        height: 500px;
        margin-bottom: 5rem;
        padding-left: 12rem;
        padding-right: 10rem;

        span {
            display: block;
        }

        button:not(:first-of-type) {
            margin-left: 3rem;
        }
    }
}

.hamburger {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 20;
}

.mainNav {
    display: none;
    transition: display .3s;
    position: fixed;
    z-index: 15;
    top: 0;
    left: 0;
    min-width: 100vw;
    height: 100vh;
    background: $white;
}