.portfolio {
    min-height: 70vh;
    margin-bottom: 10vh;
    margin-top: 10vh;
    position: relative;

    &__contentContainer {
        border: 15px solid $black;
        border-left: none;
        width: 100%; //950px
        height: 70%; //500px
        position: absolute;
        bottom: 0;
        left: -31.5%; //-400px
    }

    &__textContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 32%;
        padding-right: 5%;
        height: 100%;

        p {
            margin-bottom: 2rem;
        }

        div {
            a:last-of-type {
                margin-left: 3rem;
            }
        }
    }

    &__imgContainer {
        position: absolute;
        z-index: 10;
        max-width: 500px;
        top: 0;
        right: -18%;
        
        img {
            filter: drop-shadow(5px 5px 5px $gray);
        }
    }

    ul.tags {
        display: flex;
        flex-wrap: wrap;
        margin-top: 20px;
        margin-bottom: 20px;

        li {
            background: $black;
            color: $white;
            font-size: 1.4rem;
            letter-spacing: 1px;
            padding: 0 5px;
        }

        li:not(:last-of-type) {
            margin-right: 20px;
        }
    }

    nav {
        position: absolute;
        right: 0;
        bottom: -3.5rem;

        ul {
            display: flex;

            button {
                color: $gray;
                border-bottom: none;
            }

            li:not(:last-of-type) {
                margin-right: 20px;
            }
        }

        .active {
            padding-right: 15px;
            padding-left: 15px;
            color: $black;
            border-bottom: 2px solid $black;
            transition: all .3s;
        }
    }
}