.portfolio {
    height: 80vh;
    margin-bottom: 10vh;
    margin-top: 10vh;
    position: relative;

    &__contentContainer {
        border: 15px solid $black;
        width: 950px;
        height: 500px;
        position: absolute;
        bottom: 0;
        left: -400px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    &__textContainer {
        width: 675px;
        padding-right: 161px;

        p {
            margin-bottom: 20px;
        }

        a:last-of-type {
            margin-left: 30px;
        }
    }

    &__imgContainer {
        position: absolute;
        z-index: 10;
        max-width: 500px;
        top: 50px;
        right: -190px;
        
        img {
            filter: drop-shadow(5px 5px 5px $gray);
        }
    }

    ul.tags {
        display: flex;
        flex-wrap: wrap;
        margin-top: 20px;
        margin-bottom: 20px;

        li {
            background: $black;
            color: $white;
            font-size: 1.4rem;
            letter-spacing: 1px;
            padding: 0 5px;
        }

        li:not(:first-of-type) {
            margin-left: 20px;
        }
    }

    nav {
        ul {
            display: flex;

            button {
                color: $gray;
                border-bottom: none;
            }

            li:not(:last-of-type) {
                margin-right: 20px;
            }
        }

        .active {
            padding-right: 15px;
            padding-left: 15px;
            color: $black;
            border-bottom: 2px solid $black;
            transition: all .3s;
        }
    }
}