.skills {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    li {
        width: calc(100% / 5);
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;

        &:hover p,
        &:hover .svgFill,
        &:hover i {
            opacity: 1;
            fill: $black;
            color: $black;
        }
    }

    p, svg, i, .svgFill {
        transition: all .5s;
    }

    p {
        margin: 1rem 0;
        opacity: 0;
    }

    svg, i {
        color: $gray;
        font-size: 8rem;
    }

    .svgFill {
        fill: $gray;
    }
}

@media (max-width: 800px) {
    .skills {
        li {
            width: calc(100% / 3);
        }

        li:last-of-type {
            display: none;
        }
    }
}

@media (max-width: 400px) {
    .skills {
        svg, i {
            font-size: 6rem;
        }

        svg {
            width: 60px;
            height: 60px;
        }
    }
}