article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #29292b;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.8rem;
  font-family: "Sen", sans-serif;
  background: white;
  color: #29292b;
}

.outerWrapper {
  max-width: 1440px;
  width: 95%;
  margin: 0 auto;
  border: 1px solid palevioletred;
}

.innerWrapper {
  max-width: calc(1440px / 2);
  width: 50%;
  margin: 0 auto;
  border: 1px solid bisque;
}

button:not(.hamburger),
.likeAButton {
  border: none;
  border-bottom: 2px solid #29292b;
  background-color: transparent;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 600;
  padding-bottom: 5px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

button:not(.hamburger) i,
.likeAButton i {
  padding-left: 7px;
}

button:not(.hamburger):hover i,
button:not(.hamburger):focus i,
.likeAButton:hover i,
.likeAButton:focus i {
  -webkit-animation: 2s ease-in .2s infinite activeState;
          animation: 2s ease-in .2s infinite activeState;
}

.skipLink {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  background: white;
  color: black;
}

.skipLink:focus {
  left: 0;
}

@-webkit-keyframes activeState {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes activeState {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Cormorant Garamond";
}

h1 {
  font-size: 5.5rem;
  letter-spacing: 1px;
}

h1 span {
  font-family: "Sen", sans-serif;
  text-transform: uppercase;
  font-size: 1.4rem;
  letter-spacing: 2px;
  margin-bottom: 1rem;
}

header h2, header h3 {
  font-family: "Sen", sans-serif;
  font-weight: 300;
  margin-bottom: 3rem;
}

header h2 {
  font-size: 4rem;
}

header h3 {
  font-size: 1.8rem;
}

section h2 {
  font-size: 4rem;
  margin-bottom: 4.5rem;
}

section h3 {
  font-size: 3.8rem;
}

section blockquote {
  font-size: 4rem;
}

section blockquote span {
  background: #29292b;
  color: white;
}

footer p {
  font-size: 1.4rem;
}

header {
  height: 95vh;
  margin-bottom: 5vh;
  position: relative;
}

header .header__imgContainer {
  -webkit-filter: saturate(65%);
          filter: saturate(65%);
  width: 500px;
  position: absolute;
  left: 12rem;
  top: 17rem;
}

header .header__contentContainer {
  border: 15px solid #29292b;
  border-top: none;
  margin-right: 12rem;
  margin-left: 525px;
  padding-top: 17rem;
  padding-left: 125px;
  padding-right: 125px;
  height: 100%;
}

header .textContainer span {
  display: block;
}

header .textContainer button:not(:first-of-type) {
  margin-left: 3rem;
}

.hamburger {
  position: fixed;
  right: calc(2.5% - 15px);
  top: 0;
  z-index: 20;
}

.mainNav {
  position: fixed;
  z-index: 15;
  top: -105vh;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: white;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2.5rem;
  opacity: 0;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.mainNav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.mainNav ul a {
  padding-top: 2rem;
  margin-bottom: 2rem;
  border-bottom: 3px solid transparent;
  display: inline-block;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.mainNav ul a:hover, .mainNav ul a:focus {
  border-bottom: 3px solid #29292b;
}

.mainNav.isDisplayed {
  top: 0;
  opacity: 1;
}

.aboutMe {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.aboutMe .flexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.aboutMe .flexContainer2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.aboutMe__text {
  width: calc(100% / 3 * 2);
  padding-right: 40px;
  border-right: 2px solid #29292b;
  margin-bottom: 25px;
}

.aboutMe__text p {
  margin-bottom: 15px;
}

.aboutMe blockquote {
  width: calc(100% / 3);
  padding-left: 30px;
  font-weight: 600;
}

.skills {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.skills ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.skills li {
  width: calc(100% / 5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}

.skills li:hover p,
.skills li:hover .svgFill,
.skills li:hover i {
  opacity: 1;
  fill: #29292b;
  color: #29292b;
}

.skills p, .skills svg, .skills i, .skills .svgFill {
  -webkit-transition: all .5s;
  transition: all .5s;
}

.skills p {
  margin: 1rem 0;
  opacity: 0;
}

.skills svg, .skills i {
  color: #919191;
  font-size: 8rem;
}

.skills .svgFill {
  fill: #919191;
}

.portfolio {
  height: 80vh;
  margin-bottom: 10vh;
  margin-top: 10vh;
  position: relative;
}

.portfolio__contentContainer {
  border: 15px solid #29292b;
  width: 950px;
  height: 500px;
  position: absolute;
  bottom: 0;
  left: -400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portfolio__textContainer {
  width: 675px;
  padding-right: 161px;
}

.portfolio__textContainer p {
  margin-bottom: 20px;
}

.portfolio__textContainer a:last-of-type {
  margin-left: 30px;
}

.portfolio__imgContainer {
  position: absolute;
  z-index: 10;
  max-width: 500px;
  top: 50px;
  right: -190px;
}

.portfolio__imgContainer img {
  -webkit-filter: drop-shadow(5px 5px 5px #919191);
          filter: drop-shadow(5px 5px 5px #919191);
}

.portfolio ul.tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 20px;
  margin-bottom: 20px;
}

.portfolio ul.tags li {
  background: #29292b;
  color: white;
  font-size: 1.4rem;
  letter-spacing: 1px;
  padding: 0 5px;
}

.portfolio ul.tags li:not(:first-of-type) {
  margin-left: 20px;
}

.portfolio nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.portfolio nav ul button {
  color: #919191;
  border-bottom: none;
}

.portfolio nav ul li:not(:last-of-type) {
  margin-right: 20px;
}

.portfolio nav .active {
  padding-right: 15px;
  padding-left: 15px;
  color: #29292b;
  border-bottom: 2px solid #29292b;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.contactForm {
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contactForm form {
  width: 100%;
}

.contactForm input, .contactForm textarea {
  width: 100%;
  border: none;
  border-bottom: 2px solid #29292b;
  color: inherit;
  font-family: inherit;
  -webkit-transition: all .3s;
  transition: all .3s;
  padding: 15px 0;
  resize: none;
}

.contactForm input::-webkit-input-placeholder, .contactForm textarea::-webkit-input-placeholder {
  opacity: 1;
  color: #29292b;
}

.contactForm input:-ms-input-placeholder, .contactForm textarea:-ms-input-placeholder {
  opacity: 1;
  color: #29292b;
}

.contactForm input::-ms-input-placeholder, .contactForm textarea::-ms-input-placeholder {
  opacity: 1;
  color: #29292b;
}

.contactForm input::placeholder, .contactForm textarea::placeholder {
  opacity: 1;
  color: #29292b;
}

.contactForm input:required, .contactForm textarea:required {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.contactForm input:focus:invalid, .contactForm textarea:focus:invalid {
  border-bottom: 2px solid #919191;
}

.contactForm input:placeholder-shown + label, .contactForm textarea:placeholder-shown + label {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-4rem);
          transform: translateY(-4rem);
}

.contactForm textarea {
  height: 150px;
}

.contactForm label {
  -webkit-transition: all .3s;
  transition: all .3s;
  padding: 10px 0 20px 0;
  display: inline-block;
}

footer section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 15px solid #29292b;
  border-bottom: none;
  min-height: 15vh;
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 4rem;
  padding-bottom: 1rem;
}

footer ul li:not(:last-of-type) {
  margin-right: 25px;
}
